<!DOCTYPE html>
<html ng-app="cassandraWeb">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Cassandra Web</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular.treeview/angular.treeview.js"></script>
    <script src="bower_components/json-formatter/lib/json-formatter.js"></script>
    <script src="app.js"></script>
    <script src="controllers/webController.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="bower_components/angular.treeview/css/angular.treeview.css" rel="stylesheet" />
    <link href="bower_components/json-formatter/lib/json-formatter.css" rel="stylesheet" />
    <link href="css/cassandra-web.css" rel="stylesheet" />

    <!--<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
</head>
<body ng-controller="webCtrl" ng-init="getKeyspaceInfo()">
<div id="topnav"><h4>Angular Cassandra Web</h4></div>

<div id="sidebar">
    <h5>Keyspaces</h5>

    <div
            data-angular-treeview="true"
            data-tree-id="mytree"
            data-tree-model="treeData"
            data-node-id="id"
            data-node-label="label"
            data-node-children="children" >
    </div>
</div>

<div id="content">
    <div id="top-content">
        <!--<div ng-repeat="column in columns | orderBy: 'key'">-->
        <div ng-repeat="column in columns">
            <a class="btn btn-primary" style="min-width: 350px; text-align: left; font-family: 'Courier New', Courier, serif;"
                    ng-click="selectKey($index)">{{column.key}} ({{column._colCount}})</a> </br>
        </div>
        <div id="json-data"></div>
    </div>
</div>

<div id="sidebar-resizer"
     resizer="vertical"
     resizer-width="6"
     resizer-left="#sidebar"
     resizer-right="#content"
     resizer-max="2000">
</div>

</body>
</html>